{% extends "layout.html" %}

{% block head %}

<title>Sobre - Rebeca Pessoa</title>

<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

{% endblock %}

{% block content %}

    <div id="wrapper">
        <img src="https://avatars.githubusercontent.com/u/4651221?v=4" alt="Rebeca Pessoa">
        <h1>Rebeca Pessoa</h1>
        <h2>Arquitetura - Desenvolvimento Web</h2>
        <p>Front-end / arquitetura digital <a
                href="https://rocketseat.com.br" target="_blank">Rocketseat</a>.</p>
    </div>
    <div id="links-footer" class="links">
        <a href="/" target="_blank">Github</a>
        <a href="/" target="_blank">Twitter</a>
        <a href="/" target="_blank">Linkedin</a>
    </div>

{% endblock %}